* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
}

.vue-wizard-wrapper {
    /* --wizard-redifined-step-width: 5rem;
    --wizard-redifined-step-size: 2rem;
    --wizard-redifined-disabled-color: red;
    --wizard-redifined-primary-color: green;
    --wizard-redifined-step-bg-color: yellow;
    --wizard-redifined-point-outer-size: calc(var(--wizard-redifined-step-size) * 1.6);
    --wizard-redifined-nested-point-size: calc(var(--wizard-redifined-step-size) * 0.3);
    --wizard-redifined-line-width: 1rem;
    --wizard-redifined-line-offset: calc(var(--wizard-redifined-line-width) / 2 + var(--wizard-outer-point-width) / 2);
    --wizard-redifined-border-width: 8px;
    --wizard-redifined-gap: 2rem; */
}